In [1]:
# import packages
import pandas as pd

In [9]:
# construct sample data
df = pd.DataFrame({
    'Country' : ['Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Bulgaria', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece', 'Greece'],
    'Fruit': ['Apple', 'Banana', 'Banana', 'Orange', 'Kiwi', 'Pear', 'Apple', 'Banana', 'Banana', 'Orange', 'Kiwi', 'Olive']
    }, index = list(range(3, 14+1)),
)
df

     Country   Fruit
3   Bulgaria   Apple
4   Bulgaria  Banana
5   Bulgaria  Banana
6   Bulgaria  Orange
7   Bulgaria    Kiwi
8   Bulgaria    Pear
9     Greece   Apple
10    Greece  Banana
11    Greece  Banana
12    Greece  Orange
13    Greece    Kiwi
14    Greece   Olive

In [20]:
# Problem 1: On which row does "Greece" appear for the first time?
df[df['Country'] == 'Greece'].index[0]

9

In [28]:
# Problem 2: Which fruit appears next to the first occurance of "Bulgaria"?
df[df['Country'] == 'Bulgaria'].iloc[0]['Fruit']

'Apple'

In [29]:
# Problem 3: How many unique fruits are there?
df['Fruit'].nunique()

6

In [31]:
# Problem 4: How many times does "Apple" appear in the list?
df[df['Fruit'] == 'Apple'].shape[0]

2

In [32]:
# Problem 5: How many times does "Banana" appear next to "Greece"?
df[(df['Country'] == 'Greece') & (df['Fruit'] == 'Banana')].shape[0]

2

In [46]:
# Problem 6: How many fruits are there which appear in "Bulgaria", but not in "Greece"?
a = set(df[df['Country'] == 'Bulgaria']['Fruit'])
b = set(df[df['Country'] == 'Greece']['Fruit'])
len(a.difference(b))

1

In [47]:
# Problem 7: On which row does "Banana" appear for the SECOND time in "Greece"?
df[(df['Country'] == 'Greece') & (df['Fruit'] == 'Banana')].index[1]

11

In [48]:
# Problem 8: How many times does the letter "e" appear in "Greece"?
'Greece'.count('e')

3

In [55]:
# Problem 9: What is the average length of the words (number of letters) for all the fruits next to "Bulgaria"?
df[df['Country'] == 'Bulgaria']['Fruit'].apply(len).agg('mean')

5.166666666666667

In [58]:
# Problem 10: Flip the name of the 4th fruit in the list backwards.
df.iloc[3]['Fruit'][::-1]

'egnarO'